@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --ColorPalet1: #e74011;
    --BlackCOlor: #161616;
}

html{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 auto;
}

header{
    z-index: 99;
    position: relative;
    margin-top: -19px;
}


 /* --------- NAV CONTENT --------- */
.navContainer{
    position: fixed;
    text-rendering: optimizeLegibility !important;
    display: flex;
    background-color: transparent;
    z-index: 0;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    top: 0;
}

.container-menu{
    display: flex;
    width: 90%;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
}

.opaque{
    background-color: rgb(255, 246, 246);
  }

.nav__Menu{
    max-width: 1100px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__Menu ul{
    margin-block-start: 0;
    margin-block-end: 0;
    flex-wrap: nowrap;
    margin: 0;
    padding-inline-start: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav__Menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s  ease;
}

.nav__Menu a:hover {
    color: var(--ColorPalet1) !important;
    text-decoration: none !important;
    transition: 0.2s ease;
}

.imgHeader{
    z-index: 999;
    position: relative;
    height: 32px;
}


/* --------- Main Content --------- */
.s-grid{
    max-width: 1140px;
    margin: 0 auto;
}
.section-home__container{
    background-image: url(../img/civil-engineer.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    backface-visibility: 10;
    background-color: var(--BlackCOlor); 
    background-position: top center;
}

.section-home__container::after{
    filter: saturate(0.6); 
}

.s-home{
    color: #ffffff;
    min-height: calc(100vh - 30px);
    width: 90%;
    margin: 0 auto;
   

    display: flex;
    justify-content: center;
    align-items: center;


}

.s-home h1{

    padding-left: 50px;

    position: relative;
    font-size: clamp(1em, 1.5em + 2.1vw, 4em);
    max-width: 1140px;
    animation: down 2s ease forwards;
    /* animation-play-state: paused; */
    animation-fill-mode: both; 
    
}

@keyframes down {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      /* Estilos finais */
      opacity: 100%;
      bottom: 0;
     
    }
  }

section h1 span{
    position: relative;
    color: var(--ColorPalet1);
    animation: up 2s ease forwards;
    animation-delay: 1s;
    /* animation-play-state: paused;  */
    animation-fill-mode: both; 
}

@keyframes up {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      /* Estilos finais */
      opacity: 100%;
      bottom: 0;
     
    }
  }

 
/* ///////////////////////////////////////// ABOUT */

  .s-about{
    background-color: #ffffff;
    height: 100vh;
  }


/* // RESPONSIVE */
@media (max-width: 781px){

    .nav__Menu img{
        padding-top: 0.2em;
    }

    
    /* ----- MENU BURGUER ----- */

    nav {
        display: none;
    }
    .one,
    .two,
    .three{ /* Monta o traçado para o menu burguer */
        background-color: #ffffff; 
        height: 4px;
        width: 100%;
        margin: 8px;
        transition-duration: 0.3s;
     }

    .menu-toggle{ /* Ativa o menu toggle */
        padding-right: 9px;
        width: 30px;  
        height: 43px; 
     }

     /*  fullscreen  */
    .nav__Menu.on{
        transition: 0.8s ease-in-out;
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #ffffff;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__Menu.on nav {
        display: block;
    }

    .nav__Menu.on .menu-toggle {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .nav__Menu.on .menu-toggle .one { /* Monta o X para o menu burguer */
        transform: rotate(43deg) translate(5px, 7px);
        background-color: #000000 !important;
    }

    .nav__Menu.on .menu-toggle .two { /* "Removendo um dos traçados" */
        opacity: 0;
    }

    .nav__Menu.on .menu-toggle .three { /* Completando o X */
        
        background-color: #000000 !important;
        transform: rotate(-45deg) translate(10px, -12.1px);
    }

    .nav__Menu.on nav ul {
        text-align: center;
        display: block;
    }

    .nav__Menu.on nav ul a{
        color: var(--ColorPalet1) !important;
        font-size: 1.3rem;
        line-height: 5rem; 
    }

    .nav__Menu.on a:hover {
        color: #171717 !important;
        text-decoration: none !important;
        transition: 0.2s ease;
    }

}